{% extends "layout.html" %}
{% block title %}Works{% endblock %}
{% block body %}
  <div class="content notification">
    <h1>Work</h1>
    <hr>
  {% for work in this.children %}
    <div class="work">
      {% set image = work.attachments.images.first() %}
      {% if image %}
        <img src="{{ image.thumbnail(320)|url }}" alt="">
      {% endif %}
      <h2>
        <a href="{{ work|url }}">{{ work.name }}</a>
        {% if work.date %}
        <em>({{ work.date.year }})</em>
        {% endif %}
      </h2>
      <p><strong>{{ work.type }}</strong></p>
    </div>
  {% endfor %}
  </div>
{% endblock %}